// Variables
$yellow-beer: rgb(224, 176, 15);
$orange-beer: rgb(157, 38, 5);
//

.main {
  background: linear-gradient(rgb(255, 255, 255), #bda00d);
  min-height: 100vh;
}

.img {
  height: 120px;
  @media all and (min-width: 768px) {
    height: 160px;
  }
}

.title {
  padding: 25px 50px;
  text-align: center;
  color: $yellow-beer;
  font-size: 25px;
  @media all and (min-width: 768px) {
    font-size: 35px;
  }
}

.subtitle {
  padding: 20px 40px;
  text-align: center;
  color: $yellow-beer;
  font-size: 20px;
  @media all and (min-width: 768px) {
    font-size: 30px;
  }
}

.explanation {
  padding: 20px 40px;
  text-align: center;
  color: $orange-beer;
  font-size: 15px;
  font-style: italic;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(198, 142, 0);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    @media all and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: $orange-beer;
      font-size: 15px;
    }
  }
}

.footer {
 padding: 20px 40px;
  text-align: center;
  color: $orange-beer;
  font-size: 15px;
  font-style: italic;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}
